<!----------Footer----------->

<footer class="text-center md:text-left md:grid md:grid-cols-7 pt-10 md:pt-16 md:px-5p bg-[#F0F0F0]">

	<div class="col-span-2">
		<h5 class="font-bold uppercase mb-4"> Kontakt </h5>
		<div>
			<p> Sabrina Rees </p>
			<p> T. +49 (0) 178 827 820 5 </p>
			<a href="#"> sabrina@sabrinarees.de </a>
        </div>
	</div>

	<div class="col-span-2">
		<h5 class="font-bold uppercase mb-4 pt-10 md:py-0"> Termine </h5>
		<div>
			<p> können sowohl persönlich, telefonisch oder per Zoom stattfinden. </p>
        </div>
	</div>

<div class="col-span-3 flex flex-col md:block text-right">
    <h5 class="font-bold uppercase mb-4 text-center md:text-right pt-10 md:pt-0"> Newsletter </h5>
    <p>  Du möchtest regelmäßig Emails mit Coachingfragen und Übungen von mir bekommen? <br> Melde dich hier ganz einfach zum Newsletter an. <br> Natürlich jederzeit wieder abmeldbar! </p>
    <form action="#" class="w-full">
        <div class="md:text-right">
            <input id="email" class="min-w-0 px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500" name="email" placeholder="Your email" type="text">
            <div class="p-4 md:p-0 md:py-4 md:block">
                <input class="submit-button" type="submit" value="Subscribe">
            </div>
        </div>
    </form>
</div>

</footer>