<!----------Footer----------->

<footer class="text-center md:text-left md:grid md:grid-cols-7 md:gap-5 pt-10p sm:pt-5p md:px-5p pb-3p bg-[#F0F0F0]">

<div class="col-span-3 block text-center">
	<h5 class="font-bold uppercase mb-4"> Zeit für Veränderung. <br> Fangen Sie heute damit an. </h5>
        <a href="/leistungen.html" class="block mb-2"> Leistungen </a>
        <a href="/about.html" class="block mb-2"> Über mich </a>
        <a href="https://elopage.com/s/sabrinarees" target="_blank" rel="noopener noreferrer" class="block pb-10p sm:pb-5p"> Downloads </a>
        <a href="/contact.html" class="button"> Jetzt Termin vereinbaren! </a>
</div>



<div class="col-span-4 flex flex-col md:block text-center">
    <h5 class="font-bold uppercase mb-4 text-center pt-15p sm:pt-10p md:pt-0"> Newsletter </h5>
    <p class="pb-3p">  Sie möchten regelmäßig Emails mit <br> Coachingfragen und Übungen von mir bekommen? <br> Melden Sie sich hier ganz einfach zum Newsletter an. <br> Natürlich jederzeit wieder abmeldbar! </p>
    <form action="#" class="w-full">
        <div class="text-center">
            <input id="email" class="min-w-0 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-lime-100" name="email" placeholder="Deine E-Mail-Adresse" type="text">
            <div class="p-4 md:p-0 md:py-4 md:block">
                <input class="button-subscribe" type="submit" value="Jetzt Anmelden">
            </div>
        </div>
    </form>
</div>

</footer>

<div class="pt-3p text-center bg-[#F0F0F0]">

    <a href="/impressum.html">Impressum  │ </a>
    <a href="/datenschutz.html">Datenschutz  │ </a>
    <a href="">Cookie-Richtlinie</a>
</div>