<section class="headdiv">
    <a href="/index.html">
        <img src="/images/sabrina-rees-logo.png" alt="" class="w-24">
    </a>

    <nav class="hidden md:block">
        <a href="/leistungen.html"> Leistungen </a>
        <a href="/about.html" class="ml-4"> Über mich </a>
        <a href="https://myablefy.com/s/sabrinarees" target="_blank" rel="noopener noreferrer" class="ml-4"> Downloads </a>
        <a href="/contact.html" class="ml-4 font-bold"> Jetzt Termin vereinbaren </a>
    </nav>

    <div class="hamburger-wrapper md:hidden">
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="mobile-menu ">
        <nav>
            <a href="/leistungen.html"> Leistungen </a>
            <a href="/about.html" class="ml-4"> Über mich </a>
            <a href="https://myablefy.com/s/sabrinarees" target="_blank" rel="noopener noreferrer" class="ml-4"> Downloads </a>
            <a href="/contact.html" class="ml-4 font-bold"> Jetzt Termin vereinbaren </a>
        </nav>
    </div>
</section>

