<section class="py-10p sm:py-5p px-5p bg-[#F0F0F0]">

    <div class="max-w-screen-lg mx-auto">
      <div>
        <h2 class="text-2xl sm:text-4xl font-black pb-5p text-center"> Erfahrungsberichte </h2>
      </div>
  
      <div class="px-5p md:px-0">
        <div>
          <div class="overflow-x-scroll flex md:grid md:grid-cols-3 md:gap-4 md:overflow-x-hidden">
  
            <!-- Testimonial 1 -->
            <div class=" w-4/5 md:w-auto md:col-span-1 flex-shrink-0 mr-4 md:mr-0">
                <div class="aspect-square relative ">
                    <img src="/images/Carolin_M.png" alt="" class="object-cover absolute inset-0 h-full w-full">
                  </div>
                  <p class="py-3p border-b-2"> Carolin M. </p>
                  <p class="line-clamp-23 pt-3p"> "Sabrina Rees ist ein phantastische Beraterin. Sie hört gut zu, entwickelt individuelle Lösungen und geht auch auf aktuelle Sonderthemen ein. Ihre Spontaneität und ihr Gefühl für Situationen macht es unmöglich nicht zum Ziel zu kommen. 😉 Sie gibt Zeit und Raum und war immer flexibel. Sie ist wirklich zu empfehlen!!"  </p>
            </div>
  
            <!-- Testimonial 2 -->
            <div class="w-4/5 md:w-auto md:col-span-1 flex-shrink-0 mr-4 md:mr-0">
                <div class="aspect-square relative ">
                    <img src="/images/Kristin_Agness.png" alt="" class="object-cover absolute inset-0 h-full w-full">
                  </div>
                  <p class="py-3p border-b-2"> <a href="https://www.kristinagness.com/" target=”_blank”> Kristin Agness │ Liebes-Coach </a> </p>
                  <p class="line-clamp-23 pt-3p"> "Sabrina hat mich von der ersten Sekunde an begeistert. Sie hat eine unfassbare Energie, die sie im Coaching wie magisch auf mich übertragen hat. Ich hab den Kontakt zu Sabrina gesucht, weil ich mir in meinem Online-Business sprichwörtlich selbst im Weg stand. Nach nur 2 Coachings habe ich meine Aufgaben endlich nicht mehr wochenlang aufgeschoben, sondern eine nach der anderen abhaken können. Ich bin von Herzen dankbar für diesen Kontakt und die Coaching-Ergebnisse, die sich schon kurze Zeit später deutlich in meinem Business zeigten."  </p>
            </div>
  
            <!-- Testimonial 3 -->
            <div class=" w-4/5 md:w-auto md:col-span-1 flex-shrink-0 mr-4 md:mr-0">
                <div class="aspect-square relative ">
                    <img src="/images/Mandy_Krippl.png" alt="" class="object-cover absolute inset-0 h-full w-full">
                  </div>
                  <p class="py-3p border-b-2"> <a href="https://www.mandy-krippl.de/" target=”_blank”>  Mandy Krippl │ Fotografin </a> </p>
                  <p class="line-clamp-23 pt-3p">  "Bisher hatte ich erst einen Termin mit Sabrina (und das per Videokonferenz, da wir leider 600km auseinander wohnen). Ich bin aus diesem Termin schon sehr motiviert und mit neuer Energie und Ideen beladen raus, sodass ich mich sehr auf den Nächsten freue. Mir persönlich haben ihre "Hausaufgaben" sehr geholfen und ich bin gespannt auf alles was noch kommt und wir zusammen erarbeiten."  </p>
            </div>
  
            <!-- Add more testimonials as needed -->
  
          </div>
  
          <!-- Add navigation buttons for swiper -->
          
        </div>
      </div>
    </div>
  
  </section>